Repository Hulago/quegiro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --parser typescript, prettier --write --parser vue, eslint --fix

remove category from main menu
  src/pages/account/account.page.ts
  src/pages/app/app.page.ts
Due: prettier --write --parser typescript, eslint --fix

fix sitemap
  README.md
  index.html
  public/_redirects
  public/icategories.html
  public/idata.html
  public/ihome.html
  public/isales.html
  public/itransactions.html
  public/sitemap.xml
Due: none

add translations
  auto-imports.d.ts
  src/composables/account/account.columns.ts
  src/composables/labels/labels.composable.ts
  src/composables/sales/sales.columns.ts
  src/composables/transactions/transaction.columns.ts
  src/i18n/en.translate.ts
  src/i18n/pt.translate.ts
  src/next/components/p-upload/p-upload.component.vue
  src/pages/account/account.page.ts
  src/pages/account/account.page.vue
  src/pages/dashboard/dashboard.page.ts
  src/pages/dashboard/dashboard.page.vue
  src/pages/data/data.page.ts
  src/pages/data/data.page.vue
  src/pages/home/home.page.ts
  src/pages/home/home.page.vue
  src/pages/sales/sales.page.ts
  src/pages/sales/sales.page.vue
  src/pages/transactions/transactions.page.ts
  src/pages/transactions/transactions.page.vue
Due: prettier --write --parser typescript, prettier --write --parser vue, eslint --fix

fix some translations
  src/i18n/en.translate.ts
  src/i18n/pt.translate.ts
  src/pages/home/home.page.vue
Due: prettier --write --parser typescript, prettier --write --parser vue, eslint --fix

add language option
  components.d.ts
  package.json
  src/composables/labels/labels.composable.ts
  src/containers/components/app-toolbar/app-toolbar.component.ts
  src/containers/components/app-toolbar/app-toolbar.component.vue
  src/containers/view-containers/app/app.container.ts
  src/i18n/en.translate.ts
  src/i18n/pt.translate.ts
  src/main.ts
  src/pages/home/home.page.vue
  yarn.lock
Due: prettier --write --parser typescript, prettier --write --parser vue, eslint --fix

add translation to labels in transaction table
  src/components/transaction-state-render/transaction-state-render.component.ts
  src/components/transaction-state-render/transaction-state-render.component.vue
  src/composables/labels/labels.composable.ts
  src/i18n/en.translate.ts
  src/i18n/pt.translate.ts
  src/pages/data/data.page.ts
  src/pages/transactions/transactions.page.vue
Due: prettier --write --parser typescript, prettier --write --parser vue, eslint --fix

fix issue with storage
  README.md
  components.d.ts
  src/composables/account/account.composable.ts
  src/composables/categories/category.composable.ts
  src/composables/labels/labels.composable.ts
  src/composables/product/product.composable.ts
  src/composables/sales/sales.composable.ts
  src/composables/transactions/transactions.composable.ts
  src/i18n/en.translate.ts
  src/i18n/pt.translate.ts
  src/main.ts
  src/next/components/p-grid/p-grid.component.ts
  src/next/composables/storage.composable.ts
  src/next/renderers/renderers/currency.renderer.ts
  src/pages/account/account.page.ts
  src/pages/categories/categories.page.ts
  src/pages/data/data.page.ts
  src/pages/home/home.page.vue
  src/pages/sales/sales.page.ts
  src/pages/sales_old/sales.page.ts
  src/plugins/db.plugin.ts
Due: prettier --write --parser typescript, prettier --write --parser vue, eslint --fix

fix issue with agregate data on sales
  components.d.ts
  public/ads.txt
  public/img/quegiro-agregate-sale-1.jpg
  public/img/quegiro-agregate-sale-2.jpg
  public/img/quegiro-lang.jpg
  public/img/quegiro-table-column-move.jpg
  public/img/quegiro-table-setup.jpg
  public/img/sales-agregate-data.jpg
  public/img/table-config.jpg
  public/sitemap.xml
  src/i18n/en.translate.ts
  src/i18n/pt.translate.ts
  src/pages/home/card-agregate-data-pt.vue
  src/pages/home/card-lang-setup-pt.vue
  src/pages/home/card-table-config-pt.vue
  src/pages/home/home.page.ts
  src/pages/home/home.page.vue
  src/pages/sales/sales.page.ts
Due: prettier --write --parser typescript, prettier --write --parser vue, eslint --fix

blog help
  public/img/sales-agregate-sale-1.jpg
  public/img/sales-agregate-sale-2.jpg
  src/composables/sales/sales.columns.ts
  src/pages/home/card-agregate-data-en.vue
  src/pages/home/card-lang-setup-en.vue
  src/pages/home/card-table-config-en.vue
  src/pages/home/home.page.ts
  src/pages/home/home.page.vue
  src/pages/sales/sales.page.ts
Due: prettier --write --parser typescript, prettier --write --parser vue, eslint --fix

Path conditions:
  prettier --write --parser typescript: any of: *.{ts,tsx}
  prettier --write --parser vue: any of: *.vue
  eslint --fix: any of: *.{ts,vue}
