Repository Hulago/quegiro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --parser typescript, prettier --write --parser vue, eslint --fix

clean code
  apps/dashboard/src/main.ts
  apps/dashboard/src/scenes/categories/categories.scene.ts
  apps/dashboard/src/scenes/transactions/transactions.scene.ts
  apps/dashboard/src/types/shims-i18n.d.ts
  apps/irs/src/main.ts
  apps/irs/src/scenes/user-list/user-list.scene.ts
  containers/main/src/components/app-menu/app-menu.component.scss
  containers/main/src/components/app-menu/app-menu.component.vue
  containers/main/src/components/prozis-logo/prozis-logo.component.ts
  containers/main/src/components/prozis-logo/prozis-logo.component.vue
  containers/main/src/components/prozis-logo/prozis-logo.style.scss
  containers/main/src/i18n/en.translate.ts
  containers/main/src/i18n/pt.translate.ts
  containers/main/src/view-containers/app/app.container.ts
  libs/next/src/auth/auth.composable.ts
  libs/next/src/forms/pk-form-control.component.ts
  package.json
  packages/eslint-config/package.json
Due: prettier --write --parser typescript, prettier --write --parser vue, eslint --fix

Update README.md
  README.md
Due: none

fix vite config
  vite.config.ts
Due: prettier --write --parser typescript, eslint --fix

remove debug button and add redirect index.html
  apps/dashboard/src/scenes/home/home.scene.vue
  apps/dashboard/src/scenes/sales/sales.scene.vue
  apps/dashboard/src/scenes/transactions/transactions.scene.ts
  apps/dashboard/src/scenes/transactions/transactions.scene.vue
  containers/main/src/components/app-menu/app-menu.component.vue
  index.html
Due: prettier --write --parser typescript, prettier --write --parser vue, eslint --fix

feat: dashboard charts
  apps/dashboard/src/scenes/home/home.scene.scss
  apps/dashboard/src/scenes/home/home.scene.ts
  apps/dashboard/src/scenes/home/home.scene.vue
  apps/irs/src/types/shims-vue.d.ts
  libs/common/src/features/charts/line-chart.composable.ts
  libs/common/src/features/charts/stacked-chart.composable.ts
  libs/common/src/features/transactions/transactions.composable.ts
  libs/common/src/index.ts
  robots.txt
  sitemap.xml
Due: prettier --write --parser typescript, prettier --write --parser vue, eslint --fix

reactor: add section data to upload transactions
  apps/dashboard/src/components/svgs/data.svg.vue
  apps/dashboard/src/constants/routes.constant.ts
  apps/dashboard/src/i18n/en.translate.ts
  apps/dashboard/src/i18n/pt.translate.ts
  apps/dashboard/src/plugins/router.plugin.ts
  apps/dashboard/src/scenes/dashboard-sidebar/dashboard-sidebar.scene.ts
  apps/dashboard/src/scenes/data/data.scene.scss
  apps/dashboard/src/scenes/data/data.scene.ts
  apps/dashboard/src/scenes/data/data.scene.vue
  apps/dashboard/src/scenes/home/home.scene.ts
  apps/dashboard/src/scenes/home/home.scene.vue
  apps/dashboard/src/scenes/sales/sales.scene.ts
  apps/dashboard/src/scenes/transactions/transactions.scene.vue
  libs/common/src/features/charts/bar-chart.composable.ts
  libs/common/src/features/transactions/transactions.composable.ts
  libs/common/src/index.ts
Due: prettier --write --parser typescript, prettier --write --parser vue, eslint --fix

feat: gain vs losses
  apps/dashboard/src/scenes/home/home.scene.ts
  apps/dashboard/src/scenes/home/home.scene.vue
  libs/common/src/features/transactions/transactions.composable.ts
Due: prettier --write --parser typescript, prettier --write --parser vue, eslint --fix

fix issue with load transactions
  apps/dashboard/src/scenes/data/data.scene.vue
  containers/main/src/view-containers/app/app.container.vue
  libs/common/src/features/charts/bar-chart.composable.ts
  libs/common/src/features/transactions/transactions.composable.ts
Due: prettier --write --parser typescript, prettier --write --parser vue, eslint --fix

fix transactions costs
  libs/common/src/features/transactions/transactions.composable.ts
Due: prettier --write --parser typescript, eslint --fix

fix search
  apps/dashboard/src/scenes/sales/sales.scene.ts
  apps/dashboard/src/scenes/sales/sales.scene.vue
Due: prettier --write --parser typescript, prettier --write --parser vue, eslint --fix

fix search style
  apps/dashboard/src/scenes/sales/sales.scene.vue
Due: prettier --write --parser vue, eslint --fix

(doc): update README.md
  README.md
Due: none

(chore): remove engines yarn option from package.json
  package.json
  src/main.ts
  src/plugins/vuetify.plugin.ts
Due: prettier --write --parser typescript, eslint --fix

(chore) add npmrc
  .npmrc
  yarn.lock
Due: none

(feat) add vue-meta
  index.html
  package.json
  src/containers/main/view-containers/root/root.container.ts
  src/main.ts
  src/modules/dashboard/scenes/data/data.scene.ts
  src/modules/dashboard/scenes/home/home.scene.ts
  src/plugins/router.plugin.ts
  yarn.lock
Due: prettier --write --parser typescript, eslint --fix

(feat) add vue-meta
  index.html
  package.json
  src/containers/main/view-containers/root/root.container.ts
  src/main.ts
  src/modules/dashboard/scenes/data/data.scene.ts
  src/modules/dashboard/scenes/home/home.scene.ts
  src/plugins/router.plugin.ts
  src/plugins/vue-meta.plugin.ts
  yarn.lock
Due: prettier --write --parser typescript, eslint --fix

(chore) update package.json information
  package.json
  src/modules/dashboard/scenes/data/data.scene.ts
  src/modules/dashboard/scenes/home/home.scene.ts
Due: prettier --write --parser typescript, eslint --fix

(chore): add redirects file
  public/_redirects
Due: none

(chore): update meta tags in index.html
  index.html
Due: none

(chore): add sitemap
  public/sitemap.xml
Due: none

(chore): fixe redirects
  public/_redirects
Due: none

(chore) fix redirects
  public/_redirects
Due: none

(chore): new site map xml
  index.html
  public/sitemap.xml
Due: none

(fix): fix issue with empty lines in transaction
  src/common/features/transactions/transactions.composable.ts
  src/containers/main/view-containers/root/root.container.ts
Due: prettier --write --parser typescript, eslint --fix

add statics pages
  .gitignore
  public/categories.html
  public/data.html
  public/home.html
  public/sales.html
  public/sitemap.xml
  public/transactions.html
Due: none

(chore): setup google ads
  .vscode/settings.json
  components.d.ts
  index.html
  public/categories.html
  public/data.html
  public/home.html
  public/sales.html
  public/transactions.html
  src/modules/dashboard/scenes/sales/sales.scene.ts
  src/modules/dashboard/scenes/sales/sales.scene.vue
Due: prettier --write --parser typescript, prettier --write --parser vue, eslint --fix

fix index href
  index.html
Due: none

remove .vscode and rename public pages
  .vscode/extensions.json
  .vscode/settings.json
  public/icategories.html
  public/idata.html
  public/ihome.html
  public/isales.html
  public/itransactions.html
Due: none

feat sales agregation by month
  README.md
  components.d.ts
  src/composables/account/account.composable.ts
  src/composables/categories/category.composable.ts
  src/composables/product/product.composable.ts
  src/composables/transactions/transactions.composable.ts
  src/containers/components/app-toolbar/app-toolbar.component.vue
  src/main.ts
  src/next/composables/storage.composable.ts
  src/pages/account/account.page.ts
  src/pages/account/account.page.vue
  src/pages/categories/categories.page.ts
  src/pages/categories/categories.page.vue
  src/pages/dashboard/dashboard.page.ts
  src/pages/dashboard/dashboard.page.vue
  src/pages/data/data.page.ts
  src/pages/data/data.page.vue
  src/pages/home/home.page.ts
  src/pages/home/home.page.vue
  src/pages/sales/sales.page.ts
  src/pages/sales/sales.page.vue
  src/pages/transactions/transactions.page.ts
  src/pages/transactions/transactions.page.vue
Due: prettier --write --parser typescript, prettier --write --parser vue, eslint --fix

fix issue with transaction processing
  README.md
  src/composables/transactions/transactions.composable.ts
  src/i18n/en.translate.ts
  src/i18n/pt.translate.ts
  src/next/components/p-grid/p-grid.component.ts
  src/pages/sales/sales.page.ts
  src/pages/transactions/transactions.page.ts
Due: prettier --write --parser typescript, eslint --fix

fix issues with sales agregation
  README.md
  index.html
  src/pages/dashboard/dashboard.page.ts
  src/pages/home/home.page.ts
  src/pages/sales/sales.page.ts
  src/pages/sales/sales.page.vue
Due: prettier --write --parser typescript, prettier --write --parser vue, eslint --fix

add google script
  index.html
Due: none

add dividend chart
  src/composables/account/account.composable.ts
  src/pages/dashboard/dashboard.page.ts
  src/pages/dashboard/dashboard.page.vue
Due: prettier --write --parser typescript, prettier --write --parser vue, eslint --fix

fix dividend chart
  README.md
  src/composables/account/account.composable.ts
Due: prettier --write --parser typescript, eslint --fix

change dividend chart
  src/composables/account/account.composable.ts
Due: prettier --write --parser typescript, eslint --fix

add vueuse head
  README.md
  package.json
  src/main.ts
  src/pages/account/account.page.ts
  src/pages/categories/categories.page.ts
  src/pages/dashboard/dashboard.page.ts
  src/pages/data/data.page.ts
  src/pages/home/home.page.ts
  src/pages/sales/sales.page.ts
  src/pages/transactions/transactions.page.ts
  yarn.lock
Due: prettier --write --parser typescript, eslint --fix

refactor use head
  README.md
  src/pages/dashboard/dashboard.page.ts
  src/pages/data/data.page.ts
  src/pages/home/home.page.ts
  src/pages/sales/sales.page.ts
  src/pages/transactions/transactions.page.ts
Due: prettier --write --parser typescript, eslint --fix

Path conditions:
  prettier --write --parser typescript: any of: *.{ts,tsx}
  prettier --write --parser vue: any of: *.vue
  eslint --fix: any of: *.{ts,vue}
